@charset "utf-8";

/*****************************************************/
/* Full_width.Css */
/*****************************************************/
/* clearfix */
.clearfix {
	clear:both;
}

/* wrapper css */
#wrapper{
	margin-top:70px;
	width:100%;
}
#wrapper hgroup{
	text-align:center;
}
#wrapper h2{
	margin:5px 0;
	color:#FF6D99;
	text-shadow:1px 1px 2px #A50031;
	font-size:33px;
	font-family:Arial Narrow, Arial, sans-serif;
}
#wrapper h3{
	font-style:italic;
	font-weight:normal;
	font-size:18px;
	text-shadow:1px 1px 0 #fff;
	color:#888;
	margin:5px 0;
}

#container{
	position:relative;
	width:1100px;
	margin:0 auto 25px;
	padding-bottom: 10px;
	
}
#masonry-full-width {
	position:relative;
}
.grid{
	width:188px;
	min-height:100px;
	padding: 0;
	background:#fff;
	margin:0px;
	font-size:12px;
	float:left;
	/*box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);*/
	
	-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	-ms-transition: top 1s ease, left 1s ease;
}

.grid strong {
	border-bottom:1px solid #ccc;
	margin:10px 0;
	display:block;
	padding:0 0 5px;
	font-size:17px;
}
.grid .meta{
	text-align:right;
	color:#777;
	font-style:italic;
}
.grid .imgholder img{
	display: block;
    max-width: 100%;
}
.grid img{ width:100%;}
.imgholder h1{ width:100%; position:absolute; padding:15px 3%; left:0px;   bottom:0px; background: rgba(255,255,255,0.5);}
.imgholder{ position:relative;}
.imgholder h1 a{background:url(../images/plus.png) no-repeat right center; font-family: 'Open Sans', sans-serif; font-size:28px;  text-decoration:none; display:block; color:#000;}
.imgholder h1 a:hover{ text-decoration:none;
color:#999; 
	 
}
@media screen and (max-width : 1240px) {
	body{
		overflow:auto;
	}
}
@media screen and (max-width : 900px) {
	/*#backlinks{
		float:none;
		clear:both;
	}
	#backlinks a{
		display:inline-block;
		padding-right:20px;
	}*/
	#wrapper{
		margin-top:90px;
	}
}
