@charset "utf-8";

/*****************************************************/
/* Responsive CSS */
/*****************************************************/
body {
	font-size:13px;
}

@media only screen and (max-width: 1490px) {

.landing-proj  .col-lg-3{
	width:75%;
}

}
@media only screen and (max-width: 1440px) {
.project-intro {
	padding-top: 5%;
}
.branding-tag {
	padding-top: 4%;
}
}
/***Project Detail***/
@media only screen and (max-width: 1366px) {
.h1-150 {
font-size: 7.5em;
}
.p-35 {
    font-size: 1.5em;
}
.hr-seperator {
    height: 11px;
}
/*About Page*/
.about-intro-head {
    font-size: 24px;
}
.hr-seperator {
    height: 6px;
}
.about-hr-seperator {
    height: 6px;
}
.about-design-tag {
    font-size: 32px;
    padding-top: 36.6%;
}
.team-person-quote {
    font-size: 19px;
}
.team-person-name {
    font-size: 1.4em;
}
.team-designation {
    font-size: 1em;
}	
}
@media only screen and (max-width: 1280px) {

/*****About Page*****/
.about-intro-head {
    font-size: 24px;
}
.team-person-image img {
    width: 100%!important;
}
}
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 1190px) {

.about-intro-head {
	padding-bottom: 4%;
}

.brand-row01 {
    padding-bottom: 0;
 
}
}
@media only screen and (max-width: 1180px) {
.blog-text-head,.about-text-head {
	padding-top:12%;
}

}
@media only screen and (max-width: 1024px) {

body {
	font-size:13px;
}
.h1-72{
	padding-bottom:3%;
}
.circle-info {
	display:none;
}
.first-proj,.second-proj,.third-proj,.forth-proj,.fifth-proj  {
	background-attachment:scroll;
}
.proj-text-head {
	padding-top: 25%;
}
h3 {
	padding-top: 6%;
}
.image-desc h3 {
	padding-top: 0;
}
.nav-rul {
    margin: 9% auto 7% auto;
}
.comment-form {
    padding-bottom: 0;
}
.new-comment {
    padding-top: 15%;
}
.comments-head {
    padding: 15% 0 0;
}
.last-column {
    padding-bottom: 90px;
}
.home1-intro-text-pos {
	padding-top:15.5%;
}
.into-text-pos {
	padding-top:7.5%;
}
/* About Page */

.about-design-tag {
	font-size: 30px;
	padding-top: 29.6%;
}

.about-video {
	min-height: 533px;
}

#map_canvas {
	height:200px;
}	
/*****************************************************/
/* Removed hover effects */
/*****************************************************/
.btn-effect:hover:after, .btn-effect:active:after {
    background: none repeat scroll 0 0 #a48c3f;
}
.btn-effect:hover {
    border: 2px solid #a48c3f;
    color: #fff;
    font-size: 1.125em;
    padding: 12px 0;
}
.mega-hover:hover {
    opacity: 0;
}
.trigger-back-arrow span {
width: 14px;
margin-left: -7px;
}

.trigger-back-arrow.trigger-back-arrow-down span:before {
-webkit-transform: translateY(0) rotate(-45deg);
-moz-transform: translateY(0) rotate(-45deg);
-ms-transform: translateY(0) rotate(-45deg);
-o-transform: translateY(0) rotate(-45deg);
transform: translateY(0) rotate(-45deg);
left: -5px;
}

.trigger-back-arrow.trigger-back-arrow-down span:after {
-webkit-transform: translateY(0) rotate(45deg);
-moz-transform: translateY(0) rotate(45deg);
-ms-transform: translateY(0) rotate(45deg);
-o-transform: translateY(0) rotate(45deg);
transform: translateY(0) rotate(45deg);
left: 5px;
}

.trigger-back-arrow-down:hover span:before {
-webkit-transform: translateY(0) rotate(-45deg);
-moz-transform: translateY(0) rotate(-45deg);
-ms-transform: translateY(0) rotate(-45deg);
-o-transform: translateY(0) rotate(-45deg);
transform: translateY(0) rotate(-45deg);
left: -5px;
}

.trigger-back-arrow-down:hover span:after {
-webkit-transform: translateY(0) rotate(45deg);
-moz-transform: translateY(0) rotate(45deg);
-ms-transform: translateY(0) rotate(45deg);
-o-transform: translateY(0) rotate(45deg);
transform: translateY(0) rotate(45deg);
left: 5px;
}

.back-top {
	height: 80px;
    position: absolute;
    right: 1px;
    bottom:0;
    width: 80px;
}

.back-top a {
-webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
-o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
display: block;
cursor: pointer;
border-radius: 50%;
text-align: center;
position: relative;
z-index: 1;
color: #fff;
background: transparent;
width: 50px;
height: 50px;
border: 1px solid #a48c3f;
}

svg.Layer-2:hover {
	fill:#000;
}
.back-top a:hover:after {
    transform: none;
}
.back-top a:after {
    box-shadow: none;
}
.back-top a:hover {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
    border: 1px solid rgba(164, 140, 63, 1);
}
.branding-tag:hover, .branding-tag:focus {
    color: #a48c3f;
}
footer .prev:hover{
padding-left:0px;
color:#a48c3f;
transition:0.2s;
-webkit-transition:0.2s;
}

footer .next:hover{
padding-right:0px;
color:#a48c3f;
}
footer .next:hover svg{
position: absolute;
right:0px;
transition:0.5s;
-webkit-transition:0.5s;

}
.carousel-control.left-arrow, .carousel-control.right-arrow {
    border: 1px solid #a48c3f;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.trigger-footer-arrow.trigger-footer-arrow-right span:before {
    top: -5px;
    transform: translateY(0px) rotate(45deg);
}
.trigger-footer-arrow.trigger-footer-arrow-right span:after {
    top: 5px;
    transform: translateY(0px) rotate(-45deg);
}
.trigger-footer-arrow.trigger-footer-arrow-right span:before:hover {
    top: -5px;
    transform: translateY(0px) rotate(45deg);
}
.trigger-footer-arrow.trigger-footer-arrow-right span:after:hover {
    top: 5px;
    transform: translateY(0px) rotate(-45deg);
}
.trigger-footer-arrow span {
    margin-left: -7px;
    width: 14px;
}
.trigger-footer-arrow.trigger-footer-arrow-left span:after {
    top: 5px;
    transform: translateY(0px) rotate(45deg);
}
.trigger-footer-arrow.trigger-footer-arrow-left span:before {
    top: -5px;
    transform: translateY(0px) rotate(-45deg);
}
.trigger-footer-arrow.trigger-footer-arrow-right span:after:hover {
    top: 5px;
    transform: translateY(0px) rotate(-45deg);
}
.trigger-footer-arrow.trigger-footer-arrow-left span:before:hover{
    top: -5px;
    transform: translateY(0px) rotate(-45deg);
}
.half-blog-detail-sec {
	min-height: 350px;
}
.project-detail-sec {
	background-attachment:scroll;
}
}
@media screen and (max-width:770px){


}
@media only screen and (max-width: 768px) {


body {
	font-size:12px;
}
	

h1{
	font-size:8em;
}
.hr-seperator {
    height: 12px;
}
.h1-72 {
    font-size: 24px;
}
.h2-48 {
	line-height:24px;
}
.contact-sec h1 {
	padding-bottom:7%;
}
.contact-sec .about-intro p {
    padding-bottom: 4.5%;
}
/* Project Filter */
.isotope .isotope-item {
	width:100%;
}

.case {
    padding-bottom: 5%;
    font-size:2.5em;
}
/* About Page */
.about-hr-seperator {
    height: 6px;
}
.about-design-tag {
    font-size: 23px;
    padding-top: 25.6%;
}

.team-person-quote {
    font-size: 16px;
}
.basic-hr-seperator {
    height: 6px;
}
.about-image-block {
	height: 292px!important;
}
.about-do-sec {
    padding-top: 14%;
}
.about-team-sec {
    padding-top: 14%;
}
.about-brands-sec {
	padding-top: 14%;
}
h3 {
	padding-top: 11%;
}
.image-desc h3 {
	padding-top: 0;
}
.video-tag {
    padding-top: 24%;
   }
.player-anchor {
	padding-top: 4.8%;
}
}


@media only screen and (max-width: 767px) {

#header {
	display:none;
}

.small-header {
	display: block;
    position: fixed;
	background: none repeat scroll 0 0 #000;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.social-share div {
	padding-bottom:4%;
}
.prev-proj,.next-proj {
	display:none;
}
.comment-form input#name{
	border-right:1px solid #c7c7c7;
}
.we-do-detail {
    padding-bottom: 13%;
}
.we-do-caption {
    padding-bottom: 5%;
    padding-top: 5%;
}
.about-done-para {
	padding-bottom: 14%;
}
}

@media only screen and (max-width: 750px) {

}
@media only screen and (max-width: 736px) {

body {
	font-size:11px;
}

.h1-150 {
    font-size: 5.71em;
}
.author-detail .h1-72 {
	padding-top: 3%;
}
.h1-72 {
    font-size: 24px;
	padding-top: 23%;
}

.into-text-pos {
    padding-top: 0.5%;
}
.hr-seperator {
    height: 5px;
}

.p-35 {
    font-size: 1.8em;
}
.proj-text-head {
    padding-top: 13%;
}


.first-proj,.second-proj,.third-proj,.forth-proj ,.fifth-proj{
	min-height: 390px;
  
}


.address div {
	margin-bottom:2%;
}

h5 {
    font-size: 1.3em;
}
/***Project Detail***/


.gal {
	margin-bottom: 10%;
}	
.half, .half-div, .works-item{
	width: 100% !important;
}
/* About Page */
.we-do-caption {
    padding-bottom: 2%;
    padding-top: 3%;
}

.about-design-tag {
    padding-top: 18.6%;
}
.icon-wraper {
    padding-bottom: 0;
}



.team-designation {
	display: block;
    padding-bottom: 12%;
}

.brand-row01 {
    padding-bottom: 0;
}
.about-brands-sec img {
    padding-bottom: 6%;
}

.video-tag {
    padding-top: 25%;
}
.half-blog-detail-sec {
	min-height: 250px;
}
}
@media only screen and (max-width: 667px) {

/***Project Detail***/

.icon-style {
	width:42px;
}

.landing-proj .btn-effect {
    

}
.landing-proj .btn-effect:hover  {
	
}
.half-blog-detail-sec {
	min-height: 200px;
}
}
@media only screen and (max-width: 600px) {
.video-tag {
    padding-top: 30%;
}


}

@media only screen and (max-width: 568px) {

.p-35 {
    font-size: 1.6em;
}

.h1-150 {
    font-size: 3.9em;
}

.h1-72{
    font-size: 24px;
}
.half-blog-detail-sec {
	min-height: 180px;
}
}
@media only screen and (max-width: 480px) {
/***Project Landing***/
.head-bar div {
	width:100%;
	padding-bottom: 3%;
}
#nav ,#nav li{
    float: left;
}
#nav ul li {
	text-alig177
	gn: left;
}

.brand-row01 img,.brand-row02 img  {
	width:100%;
}
}
@media only screen and (max-width: 461px) {
.category-date-land {
    left: 0;
    margin: 0 auto;
    right: 0;
    top: 70%;
	text-align: center;
}
.like-detail {
    bottom: 50px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}

}
@media only screen and (max-width: 414px) {
.blog-text-head,.about-text-head {
	padding-top:40%;
}

.home1-intro-text-pos {
    padding-top: 24.5%;
}

.p-35 {
    padding-bottom: 19%;
}

.landing-proj {
    padding-bottom: 9.2%;
    padding-top: 22.8%;
}
.case {
    font-size: 2.3em;
    padding-bottom: 5%;
    width: 100%;
}

#nav {
    width: 100%;
	margin-bottom: 7%;
}
.comments-icons {
	margin-top:8%;
}
.comment-form-field {
   padding-top: 6.5%;
}
.write-comment-head {
    padding-top: 20%;
}
.read-comment-head {
    padding-top: 20%;
}
.blog-main {
    padding-bottom: 18%;
}

footer {
    padding: 16% 0 4%;
}
.video-tag {
    padding-top: 42%;
}
.player-anchor {
    padding-top: 10.8%;
}
}
@media only screen and (max-width: 384px) {
.home1-intro-text-pos {
    padding-top: 29.5%;
}

}
@media only screen and (max-width: 320px) {

.p-35 {
    font-size: 1.5em;
}

.h1-150 {
    font-size: 3.3em;
}

.h1-72{
    font-size: 24px;
}

h5 {
    padding-bottom: 7%;
    padding-top: 4.7%;
}
}

