@charset "utf-8";

/*****************************************************/
/* Filter Css */
/*****************************************************/ 
html,
body { height: 100%; }

* {
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
}

.fl { float: left; }

.fr { float: right; }

li,
ul,
ol { list-style: none; }
a,
a img {
	text-decoration: none;
	border: 0;
	outline: none !important;
}

h1,
h2,
h3,
h4,
h5 {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: normal;
}

.clear {}

.clear:before,
.clear:after {
	display: table;
	content: "";
}
.clear:after { clear: both; }


/********************************************************************************* Default Style End  *******************************************************************************/
 

.main-warp { display:block;}
#home-contain{ display:block;}
#home-contain .white-bg{ background:#fff; }
#home-contain  .details-block{ display:block; margin:15px 0; position:relative;}
#home-contain  .details-block img{ width:100%; display:block;;}
#home-contain  .details-block:hover .hidden-box{ opacity:1;}
#home-contain  .details-block .hidden-box{ position:absolute;left:0px; bottom:0px; background:#000; height:50%; opacity:0; width:100%; padding:2% 5%; -webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;}
#home-contain  .details-block .hidden-box h1{  font-size:28px; color:#fff; display:block; font-weight:normal; font-family:Arial, Helvetica, sans-serif; }
 
 
#masonry-basic { display:block;}
#masonry-basic .container {  margin: auto;
    max-width: 1400px;
    min-width: 240px;
    overflow: hidden;
    padding: 0 30px;
    width: auto;}
#standard-grid { display:block; overflow:hidden;}
#standard-grid .container { width:1170px;}
.masonry-basic { margin:15px 0;}
.head-bar { margin:0px !important; padding:60px 0 80px 0; }
.head-bar h1{ padding:6px 0 0 0;  font-size:28px; color:#000; display:inline-block; font-weight:400; font-family:Arial, Helvetica, sans-serif; }

.select-style-price {
    background: url("../images/select-arrow.png") no-repeat scroll right center #fff;
    float: right;
    overflow: hidden;
    width: 250px;
}

.select-style-price select {
    -moz-appearance: none;
	 -web-appearance: none;
	 appearance: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #000;
    box-shadow: none;
    outline: medium none;
    overflow: hidden;
    padding: 17px 8px;
    text-indent: 0.01px;
    text-overflow: "";
    width: 250px;
}

#masonry-basic .col-md-12 .col-sm-12{ padding:0px !important;}
.thumbnail-inactive, .thumbnail-active{ margin-bottom:32px;}
.jscarousal-contents-horizontal img {
width: 110px;
height: 80px;
}
#masonry-full-width { display:block;}





#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 0px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 0px;
	-moz-column-fill: 5px;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;  
	margin: 0 0px 0px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
  
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity:1;
	position:relative;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}


.pin img {
	width: 100%; 
	margin-bottom:0px;
	height:auto;
}

.pin h1 {
	font-size: 20px;
	font-family:Arial, Helvetica, sans-serif;
	color: #333;
	font-weight:normal;
	margin: 0;
	position:absolute;
	width:100%;
	padding:64px 5%;
	left:0px; bottom:0px;
 
	background:rgba(255,255,255,0.4);
}
.pin h1 a { background: url(../images/plus.png) no-repeat right center; display:blockl; width:100%; float:left; color:#000; text-decoration:none; }

.project-filter-container .mega-hover {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-out 0s;
    width: 100%;
}
.project-filter-container .mega-hovertitle {
	background: none repeat scroll 0 0 #fff;
	bottom: 34.5%;
	color: #000000;
	font-family: "Source Sans pro",sans-serif;
	font-size: 1.2em;
	font-weight: 300;
	left: 0;
	opacity: 0;
	padding: 40px 0;
	text-transform:capitalize;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index:-1;
}
.project-filter-container .mega-hover:hover .mega-hovertitle {
    bottom: 34.5%;
    transition-delay: 0.1s;
}
.single-project {
	display:block;
	height:100%;
	width:100%;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count:3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}



 
.portfolio .container				{	max-width:1260px; min-width:240px; width:auto; margin:auto; padding:0px 0px;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
	                   		-webkit-box-sizing: border-box;
							 overflow: hidden;
						}

.splash-white			{	width:100%;padding:45px 0px;
							 background:#fff;
							 position:relative;
						}

.container-fullwidth	{	width:100%; min-width:240px; width:auto; margin:auto; padding:0px 30px;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
	                   		-webkit-box-sizing: border-box;
							 overflow: hidden;
						}



.megafolio-container,
.megafolio-container-splash	{	width:100%;  position:relative;
								-moz-box-sizing: border-box;
								box-sizing: border-box;
		                   		-webkit-box-sizing: border-box;
 							}










#masonry-full-width{ overflow:hidden;}
#masonry-full-width .mega-white.mega-covercaption a{ border:0px !important;}
#masonry-full-width .mega-covercaption { background:rgba(255,255,255,0.5); bottom:0px;  }
#masonry-full-width .mega-covercaption .mega-title{ background:url(../images/plus.png) no-repeat right center;padding-right:25px;}

@media (max-width: 479px){
.box1{width:100% !important;}
.masonry-basic{width:100% !important;}
.masonry-basic img {width:100% !important;}
} 
@media (min-width: 481px) and  (max-width: 767px){
.box1{
	width:50% !important;
}
}
@media  (max-width: 768px){
.head-bar {
    padding: 60px 0 40px;
}
}
@media (max-width: 414px){
.head-bar {
   padding: 15px 0;
}